@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: rgba(168, 85, 247, 0.3);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0d0d0d;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}
